
# according to the cron job
delay_minutes=15

# first-line title for the alert
title="no hit at all in the last $delay_minutes minutes"

# index/stream to search against
index=suricata-*

# query as saved search in elastic/opensearch Discovery
saved_search_url="no link"

# additional details for the alert to print (optional)
details="is this index/stream still alive?"

# switch to 0 to send the webhooks
dummy=0

