#!/bin/bash

echo `date --rfc-email` - ${0##*/}

# simple hits
/data/dam/alert-hit.bash hits/brutes-internal.conf
/data/dam/alert-hit.bash hits/cf-instant-logs-waf.conf
/data/dam/alert-hit.bash hits/peers-unknown-peer.conf
/data/dam/alert-hit.bash hits/suricata-src1024.conf
/data/dam/alert-hit.bash hits/suricata-tunnel-age.conf
/data/dam/alert-hit.bash hits/suricata-tunnel-bytes.conf
/data/dam/alert-hit.bash hits/suricata-tunnel-pkts.conf

# aggs count
/data/dam/alert-count.bash aggs/suricata-count-sigs.conf

# aggs query then count
/data/dam/alert-query-count.bash query-aggs/dev-ingress-auth-brute.conf

echo

