
# how many times does a single type of alert repeats
count_trigger=200

# first-line title for the alert
title="same signature repeated $count_trigger times"

# index/stream to search against
index=logs-suricata1

count_field=alert.signature.keyword

# query as saved search in elastic/opensearch Discovery
saved_dashboard_url=https://.../app/dashboards#/view/...

# according to the cron job
delay_minutes=15

# switch to 0 to send the webhooks
dummy=1

