
detector=logs-suricata-avg-flow-age

descr="spot abnormally short/long-standing connections"

index="logs-suricata*"

aggs=avg

field=flow.age

# custom result index suffix (after opensearch-ad-plugin-result-)
suffix=suricata

dummy=0

